<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecommercegestion">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".vue.ViewOrderActivity" android:label="Modifier une Commande" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name=".vue.ViewCustomerActivity" android:label="Voir Client"/>
        <activity android:name=".vue.ViewContactActivity" android:label="Voir Contact"/>
        <activity android:name=".vue.CustomerActivity" android:label="Mes Clients"/>
        <activity android:name=".vue.ProductActivity" android:label="Mes Produits"/>
        <activity android:name=".vue.OrderActivity" android:label="Mes Commande"/>
        <activity android:name=".vue.ContactActivity" android:label="Mes Contacts"/>
        <activity android:name=".vue.AddImageProductActivity" android:windowSoftInputMode="stateAlwaysHidden" android:label="Ajouter une Image"/>
        <activity android:name=".vue.AddProductActivity" android:windowSoftInputMode="stateAlwaysHidden" android:label="Ajouter/Modifier un Produit"/>
        <activity android:name=".vue.DashBoardActivity" android:label="Tableaux de Bord"/>
        <activity android:name=".vue.MainActivity" android:windowSoftInputMode="stateAlwaysHidden" android:label="eCommerceGestion - Connection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>
